<input type="checkbox" id="menu-toggle">
<div class="sidebar">
  <div class="brand">
    <span class="las la-feather-alt"></span>
    <h2>Admin Tool</h2>
  </div>
  <div class="sidemenu">
    <div class="side-user">
      <div class="side-image" style="background-image: url('./assets/image/avatar.jpeg')" ></div>
      <div class="user">
        <small>Hugh Huynh</small>
        <p>Solfware Developer</p>
      </div>
    </div>
    <ul class="p-0">
      <ng-container *ngFor="let item of menus">
        <li >
          <a [routerLink]="item.link" [routerLinkActive]="'active'" class="text-decoration-none" href="#">
            <span class="{{item.icon}}"></span>
            <span>{{item.title}}</span>
          </a>
        </li>
      </ng-container>

    </ul>

  </div>
</div>
<div class="main-content">
  <header>
    <label class="menu-toggle-lbl" for="menu-toggle">
      <span class="las icon-menu-toggle"></span>
    </label>
    <div class="search">
      <span class="las la-search"></span>
      <input type="search" placeholder="Enter Keyword">
    </div>
    <div></div>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
