.main-content.toggle {
  margin-left: 65px;

  header {
    left: calc(65px);
  }

  .menu-toggle-lbl {
    animation: tilt-shaking 3s linear 100ms;

    .icon-menu-toggle:before {
      content: "\f00d";
      font-size: 20px;
    }
  }
}

.dropdown-toggle::after {
  display: none !important;
}
.dropdown-item:focus, .dropdown-item:active, .dropdown-item:hover {
  background: var(--main);
}

.main-content {
  margin-left: 280px;
  min-height: 100vh;
  background: var(--bg-body);
  padding: .1rem;
  transition: margin-left 300ms;
}
.page-content {
  min-height: 100vh;
}
header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg-header);
  position: fixed;
  left: calc(280px);
  right: .1rem;
  transition: left 300ms;
}

.light-theme .header {
  box-shadow: 3px 0 10px 0 #03060b;
}

.dark-theme .header {
  box-shadow: 0 16px 24px rgb(0 0 0 / 10%);
}

input, button {
  outline: none;
}

.menu-toggle-lbl {
  height: 50px;
  width: 50px;
  background: var(--main);
  color: var(--main-text);
  display: grid;
  place-items: center;
  border-radius: 5px;

  .icon-menu-toggle:before {
    content: "\f0c9";
    font-size: 25px;
    transition: content 300ms;
  }
}

.search {
  display: flex;
  width: 300px;
  border-radius: 30px;
  overflow-x: hidden;
  border: 3px solid #3e454d;
  align-items: center;
}

.search input {
  flex: 1;
  height: 45px;
  border: none;
  background: transparent;
  padding: 1rem;
  color: var(--main-text);
}

.search span {
  font-size: 1.3rem;
  color: var(--main-text);
  padding-left: 1rem;
}

.main-content main {
  background: var(--bg-body);
  margin-top: calc(75px + 5px);
  color: var(--main-text);
}

.main-content .btn-logout {
  background: var(--main);
  color: var(--main-text);

}

.main-content .btn-logout span:first-child {
  font-size: 20px;
}

.main-content .btn-logout span:last-child {
  font-size: 20px;
}

.indicator {
  position: absolute;
  top: 8px;
  right: 12px;

  .circle {
    background: var(--main);
    width: 7px;
    height: 7px;
    border-radius: 50%;
  }

  .circle::before {
    background-color: var(--main);
    content: "";
    display: table;
    border-radius: 50%;
    position: absolute;
    animation-name: pulse;
    animation-duration: .9s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
  }
}


@media only screen and (max-width: 1124px) {
  .main-content:before {
    content: "";
    width: 100vw;
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    transition: all 3s ease;
  }
  .main-content.toggle:before {
    display: none;
  }

  .main-content, .main-content.toggle {
    margin-left: 65px;

    header {
      left: 65px;
    }

    .menu-toggle-lbl {
      .icon-menu-toggle:before {
        content: "\f0c9";
        font-size: 25px;
      }
    }
  }
}
