<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="custom-table">
        <caption></caption>
        <thead>
        <tr>
          <div></div>
          <th class="text-center">Email</th>
          <th class="text-center">Display Name</th>
          <td class="text-center">Status</td>
          <td class="text-center">Action</td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="text-center" style="width: 50px"><input type="checkbox"></td>
          <td class="text-center"><span>Trivip002@gmail.com</span></td>
          <td class="text-center"><span>Huynh Minh Tri</span></td>
          <td class="text-center"><span>Active</span></td>
          <td style="width: 125px" class="text-center">
            <button class="btn btn-primary me-2"><em class="las la-edit"></em></button>
            <button class="btn btn-danger"><em class="las la-trash-alt"></em></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
