<input type="checkbox" id="menu-toggle">
<div class="sidebar">
  <div class="brand">
    <span class="lab la-affiliatetheme"></span>
    <h2>Admin</h2>
  </div>
  <div class="sidemenu">
    <div class="side-user">
      <div class="side-image" style="background-image: url('./assets/image/avatar.jpeg')" ></div>
      <div class="user">
        <small>Hugh Huynh</small>
        <p>Solfware Developer</p>
      </div>
    </div>
    <ul class="ps-0">
      <li>
        <a class="active text-decoration-none" href="#">
          <span class="las la-home"></span>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a class="text-decoration-none" href="#">
          <span class="las la-balance-scale"></span>
          <span>Finance</span>
        </a>
      </li>
      <li>
        <a class="text-decoration-none" href="#">
          <span class="las la-chart-pie"></span>
          <span>Analytic</span>
        </a>
      </li>
      <li>
        <a class="text-decoration-none" href="#">
          <span class="las la-calendar"></span>
          <span>Calendar</span>
        </a>
      </li>
      <li>
        <a class="text-decoration-none" href="#">
          <span class="las la-users"></span>
          <span>Contact</span>
        </a>
      </li>
      <li>
        <a class="text-decoration-none" href="#">
          <span class="las la-shopping-cart"></span>
          <span>Ecommerce</span>
        </a>
      </li>
      <li>
        <a class="text-decoration-none" href="#">
          <span class="las la-check-circle"></span>
          <span>Tasks</span>
        </a>
      </li>
      <li>
        <a class="text-decoration-none" href="#">
          <span class="las la-lock"></span>
          <span>Authentication</span>
        </a>
      </li>
      <li>
        <a class="text-decoration-none" href="#">
          <span class="las la-file-invoice-dollar"></span>
          <span>Pricing</span>
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="main-content">
  <header>
    <label class="menu-toggle-lbl" for="menu-toggle">
      <span class="las icon-menu-toggle"></span>
    </label>
    <div class="search">
      <span class="las la-search"></span>
      <input type="search" placeholder="Enter Keyword">
    </div>
    <div>
      <button class="btn btn-logout">
        <span class="las la-sign-out-alt"></span>
        <span>Logout</span>
      </button>
    </div>
  </header>
  <main>
    <div class="container">
      <div class="row">
        <div class="col-6">a</div>
        <div class="col-6">b</div>
      </div>
    </div>
  </main>
</div>
