@import "~bootstrap/dist/css/bootstrap.css";

.dark-theme {
  --main: #63b174;
  --bg: #14222b;
  --bg-body: #1f2c33;
  --bg-header: #1d262a;
  --main-text: #fff
}
.light-theme {
  --main: #63b174;
  --bg: #ffff;
  --bg-body: #eff8fe;
  --bg-header: #fff;
  --main-text: #222
}
body {
  background: var(--bg-body);
}
* {
  font-family: 'Poppins', sans-serif ;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.custom-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  thead {
    tr {
      background-color: var(--main);
      color: var(--main-text);
      text-align: left;
    }
    tr.active-row {
      font-weight: bold;
      color: var(--main);
    }
  }
  tbody {
    tr {
      border-bottom: 1px solid var(--bg-body);
      background-color: var(--bg-body);
    }
  }
  th,td {
    padding: 12px 15px;
  }
}

@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  12% { transform: rotate(2deg); }
  25% { transform: rotate(5deg); }
  37% { transform: rotate(2deg); }
  50% { transform: rotate(0deg); }
  62% { transform: rotate(-2deg); }
  75% { transform: rotate(-5deg); }
  87% { transform: rotate(-2deg); }
  100% { transform: rotate(0deg); }
}
@keyframes pulse {
  0% {
    opacity: 1;
    width: 7px;
    height: 7px;
    left: 0;
    top: 0
  }

  95% {
    opacity: .1;
    left: -10.5px;
    top: -10.5px;
    width: 28px;
    height: 28px
  }

  100% {
    opacity: 0;
    width: 7px;
    height: 7px;
    left: 0;
    top: 0
  }
}

