@import "~bootstrap/dist/css/bootstrap.css";

:root {
  --main: #63b174;
  --bg: #14222b;
  --bg-body: #1f2c33;
  --main-text: #fff
}
body {
  background: var(--bg-body);
}
* {
  font-family: 'Poppins', sans-serif ;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
